body {
    background-image: url("/images/astronaut-space-13-4k.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px;
}

.grid div {
    height: 30px;
    width: 30px;
}

#pause-button {
    display: none;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.start-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.start-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.start-button:active {
    color: #000
}

.start-button:active:after {
    background: transparent;
}

.start-button:hover:before {
    opacity: 1;
}

.start-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}